@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn {
  background: linear-gradient(225deg, #f7e93f 0%, #fb09b4 50%, #9100f8 100%);
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 999999px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid white;
  background: transparent;
}
.btn2 {
  background: transparent;
  padding: 12px 16px;
  border-radius: 999999px;
  transition: all 0.7s ease-in;
  cursor: pointer;
  border: 1px solid #00ff88;
}
.btn2:hover {
  background: linear-gradient(225deg, #f7e93f 0%, #fb09b4 50%, #9100f8 100%);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
}


